{% extends "_centered_form.html" %}
{% load static crispy_forms_tags %}

{% block title %}{{block.super }} - OpenID-Connect authorization{% endblock %}

{% block form_icon %}<i class="fab fa-openid"></i>{% endblock %}
{% block form_title %}{{ client.name }}{% endblock %}

{% block form_content %}
{{ block.super }}
<div class="row">
    <div class="col">
        <div class="alert alert-info" role="alert">
            The <em>{{ client.name }}</em> client is requesting access to your data.
        </div>
        <dl class="row">
            {% for scope in scopes %}
            {% if not client.scope or scope.scope in client.scope %}
            <dt class="col-sm-3 text-success d-flex align-items-start">
                <span class="mr-1">
                    <i class="fas fa-check"></i>
                </span>
                <span>
                    {{ scope.name }}
                </span>
            </dt>
            <dd class="col-sm-9 text-justify">{{ scope.description }}</dd>
            {% else %}
            <dt class="col-sm-3 text-danger d-flex align-items-start">
                <span class="mr-1">
                    <i class="fas fa-ban"></i>
                </span>
                <span>
                    {{ scope.name }}
                </span>
            </dt>
            <dd class="col-sm-9 text-danger text-justify">The {{ client.name }} client is not allowed to request the <span class="text-monospace">{{ scope.scope }}</span> scope.</dd>
            {% endif %}
            {% endfor %}
        </dl>
        <form method="POST" class="form" action="{% url 'oidc_provider:authorize' %}">
            {% csrf_token %}
            {% for input in hidden_inputs.splitlines %}
            {% if 'name="scope"' in input %}
            <input name="scope" type="hidden" value="{% for scope in scopes %}{% if not client.scope or scope.scope in client.scope %}{{ scope.scope }} {% endif %}{% endfor %}openid" />
            {% else %}
            {{ input|safe }}
            {% endif %}
            {% endfor %}
            <nav class="nav nav-pills nav-fill mt-2">
                <button class="mr-2 btn btn-lg btn-outline-danger nav-item" type="submit">
                    <i class="fas fa-ban"></i>
                    Decline
                </button>
                <button name="allow" value="1" class="btn btn-lg btn-success nav-item" type="submit">
                    <i class="fas fa-check"></i>
                    Authorize
                </button>
            </nav>
        </form>
    </div>
</div>
{% endblock %}
