/* Show it is fixed to the top */
main {
	padding-top: 4.5rem;
}

body {
	margin-bottom: 60px;
}

table > tbody > tr > th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 5em;
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 60px;
	text-align: center;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.django-ckeditor-widget {
	width: 100%;
}
