{% extends "_centered_form.html" %}
{% load static crispy_forms_tags %}

{% block title %}{{block.super }} - Sign in{% endblock %}

{% block form_icon %}<i class="fas fa-user"></i>{% endblock %}
{% block form_title %}Sign in{% endblock %}

{% block form_content %}
{{ block.super }}
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            You already signed in.
        </div>
        <a href="{% url 'index' %}" class="btn btn-info btn-block">
            <i class="fas fa-home"></i>
            Go back to the homepage
        </a>
        {% else %}
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="mt-4 btn btn-lg btn-primary btn-block" type="submit">
                <i class="fas fa-sign-in-alt"></i>
                Sign in
            </button>
            <nav class="nav nav-pills nav-fill mt-2">
                <a href="{% url "social:begin" "azuread-oauth2" %}" class="nav-item btn btn-outline-info mr-2">
                    Sign in with Office 365
                    <sup><small><i class="fas fa-external-link-alt"></i></small></sup>
                </a>
                <a href="{% url 'password_reset' %}" class="nav-item btn btn-outline-danger">
                    <i class="far fa-life-ring"></i>
                    Password recovery
                </a>
            </nav>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
