{% load humanize %}
<div class="card mb-2 {% if note.secret %}border-danger{% endif %}">
    <div class="card-body media">
        <div class="text-center mr-3">
            <div>
                <a href="{% url 'criuser_detail' username=note.author.username %}" title="{{ note.author.get_full_name }}">
                    <img src="{{ note.author.picture_square }}" style="max-width: 100px;" class="img-thumbnail" alt="{{ note.author }}" />
                </a>
            </div>
            {% if note.author == user or note.scope in writable_scopes %}
            <div class="mt-2">
                <a class="btn btn-sm btn-primary" href="{% url 'criusernote_update' username=criuser pk=note.pk %}" role="button" data-toggle="tooltip" data-placement="bottom" title="edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'criusernote_delete' username=criuser pk=note.pk %}" role="button" data-toggle="tooltip" data-placement="bottom" title="delete">
                    <i class="fas fa-trash"></i>
                </a>
                {% if user.is_staff and perms.cri_models.criusernote_view %}
                <a class="btn btn-sm btn-outline-warning" href="{% url 'admin:cri_models_criusernote_change' note.pk %}" role="button" data-toggle="tooltip" data-placement="bottom" title="view on admin site">
                    <i class="fas fa-wrench"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="media-body">
            {% if note.event_title or note.event_kind or note.event_date or note.external_ref %}
            <h5 class="mt-0">
                {% if note.external_ref %}
                <a class="btn btn-sm btn-outline-info" href="{{ note.get_external_ref_url }}" target="_blank">
                    {{ note.get_external_ref }}
                </a>
                {% endif %}
                {% if note.event_kind %}
                <span class="badge badge-primary">
                    {{ note.event_kind }}
                </span>
                {% endif %}

                {{ note.event_title }}

                {% if note.event_date %}
                {{ note.event_date }}
                {% endif %}
            </h5>
            {% endif %}
            {{ note.content|safe }}
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            {% if note.secret %}
            <span class="text-danger mr-3" data-toggle="tooltip" data-placement="right" title="This note is not shown to the user">
                <i class="fas fa-eye-slash"></i>
            </span>
            {% endif %}
            <strong>Created:</strong>
            <span data-toggle="tooltip" data-placement="top" title="{{ note.created_at }}">{{ note.created_at|naturaltime }}</span>

            {% if note.updated_at %}
            <strong class="ml-3">Updated:</strong>
            <span data-toggle="tooltip" data-placement="top" title="{{ note.updated_at }}">{{ note.updated_at|naturaltime }}</span>
            {% if note.updated_by %}
            (<a href="{{ note.updated_by.get_absolute_url }}"><i class="fas fa-user"></i> {{ note.updated_by.username }}</a>)
            {% else %}
            (<em><i class="fas fa-user"></i> unknown</em>)
            {% endif %}
            {% endif %}
        </div>
        <div>
            {% for label in note.labels.all %}
            <span class="badge badge-secondary">
                {{ label }}
            </span>
            {% endfor %}
        </div>
    </div>
</div>
