<form id="impersonate_form" method="POST" action="{% url 'impersonate' criuser.username %}">
    {% csrf_token %}
</form>
<form id="card_form" class="form" method="POST" action="{% url 'cards_issue' %}">
    {% csrf_token %}
    <input type="hidden" name="user_list" value="{{ criuser.pk }}" />
</form>
<div class="list-group flex-column" aria-orientation="vertical">
    <a class="list-group-item list-group-item-action{% if current_page == "account-info" %} active{% else %} text-primary{% endif %}" href="{% url 'criuser_detail' criuser.username %}" role="tab">
        <i class="fas fa-address-card"></i>
        Account information
    </a>
    {% if note_list or writable_scopes %}
    <a class="list-group-item list-group-item-action{% if current_page == "user-notes" %} active{% else %} text-primary{% endif %} d-flex justify-content-between align-items-center" href="{% url 'criusernote_list' criuser.username %}" role="tab">
        <span>
            <i class="far fa-comment-alt"></i>
            Notes
            <span class="badge badge-secondary">
                {{ note_list|length }}
            </span>
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </a>
    {% endif %}
    {% if criuser == user or perms.cri_models.update_criuser_passwords or user in criuser.criserviceaccount.get_managers %}
    <a class="list-group-item list-group-item-action{% if current_page == "change-password" %} active{% else %} text-primary{% endif %} d-flex justify-content-between align-items-center" href="{% url 'criuser_password' criuser.username %}" role="tab">
        <span>
            <i class="fas fa-lock"></i>
            Change password
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </a>
    {% endif %}
    {% if criuser == user or perms.cri_models.manage_criuser_oidc %}
    <a class="list-group-item list-group-item-action{% if current_page == "oidc" %} active{% else %} text-primary{% endif %} d-flex justify-content-between align-items-center" href="{% url 'criuser_oidc' criuser.username %}" role="tab">
        <span>
            <i class="fab fa-openid"></i>
            OpenID Connect
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </a>
    {% endif %}
    {% with count=criuser.sshpublickey_set.count %}
    <a class="list-group-item list-group-item-action{% if current_page == "ssh-keys" %} active{% else %}{% if not count %} text-danger{% else %} text-primary{% endif %}{% endif %}" href="{% url 'criuser_ssh_keys' criuser.username %}" role="tab">
        <i class="fas fa-key"></i>
        SSH keys
        <span class="badge badge-{% if count %}success{%else%}danger{% endif %}">
            {{ count }}
        </span>
    </a>
    {% endwith %}
    {% if criuser == user or perms.cri_auth.view_connectionlogentry %}
    <a class="list-group-item list-group-item-action{% if current_page == "logs" %} active{% else %} text-primary{% endif %} d-flex justify-content-between align-items-center" href="{% url 'criuser_logs' criuser.username %}" role="tab">
        <span>
            <i class="fas fa-list"></i>
            Connection logs
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </a>
    {% endif %}
    {% if criuser == user or perms.cri_tasks.view_task %}
    <a class="list-group-item list-group-item-action{% if current_page == "tasks" %} active{% else %} text-primary{% endif %} d-flex justify-content-between align-items-center" href="{% url 'criuser_tasks' criuser.username %}" role="tab">
        <span>
            <i class="fas fa-tasks"></i>
            Tasks
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </a>
    {% endif %}
    {% if perms.cri_cards.issue_card and not criuser.criserviceaccount %}
    <button form="card_form" type="submit" class="list-group-item list-group-item-action{% if current_page == "issue_card" %} active{% else %} text-primary{% endif %} text-info d-flex justify-content-between align-items-center">
        <span>
            <i class="fas fa-id-card"></i>
            Issue an access card
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
            <i class="fas fa-eye-slash"></i>
        </span>
    </button>
    {% endif %}
    {% if criuser != user and perms.cri_models.impersonate and not criuser.is_superuser %}
    <button form="impersonate_form" type="submit" class="list-group-item list-group-item-action text-warning d-flex justify-content-between align-items-center" href="{% url 'impersonate' criuser.username %}" role="tab">
        <span>
            <i class="fas fa-user-secret"></i>
            Impersonate
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This action is only shown to admins">
            <i class="fas fa-eye-slash"></i>
            <i class="fas fa-wrench"></i>
        </span>
    </button>
    {% endif %}
    {% if user.is_staff and perms.cri_models.view_criuser %}
    {% if criuser.criserviceaccount %}
    <a class="list-group-item list-group-item-action text-warning d-flex justify-content-between align-items-center" href="{% url 'admin:cri_models_criserviceaccount_change' criuser.criserviceaccount.pk %}" role="tab">
    {% else %}
    <a class="list-group-item list-group-item-action text-warning d-flex justify-content-between align-items-center" href="{% url 'admin:cri_models_criuser_change' criuser.pk %}" role="tab">
    {% endif %}
        <span>
            <i class="fas fa-wrench"></i>
            View on admin site
        </span>
        <span data-toggle="tooltip" data-placement="right" title="This action is only shown to admins">
            <i class="fas fa-eye-slash"></i>
            <i class="fas fa-wrench"></i>
        </span>
    </a>
    {% endif %}
</div>
