{% load humanize %}
{% if extra_link.type == "date" or extra_link.type == "text" %}
<span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    {% if extra_link.title or extra_link.icon %}
    <strong>
        {% if extra_link.icon %}
        <i class="{{ extra_link.icon }}"></i>
        {% endif %}
        {{ extra_link.title }}
    </strong>
    {% endif %}
    {% if extra_link.type == "date" %}
    {% if extra_link.content %}
    <span data-toggle="tooltip" data-placement="left" title="{{ extra_link.content }}">{{ extra_link.content|naturaltime }}</span>
    {% else %}
    <em class="text-secondary">never</em>
    {% endif %}
    {% else %}
    <span>{{ extra_link.content }}</span>
    {% endif %}
</span>
{% elif extra_link.type == "link" %}
<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-primary" href="{{ extra_link.content }}"{% if extra_link.external %} target="_blank"{% endif %}>
    <span>
        {% if extra_link.icon %}
        <i class="{{ extra_link.icon }}"></i>
        {% endif %}
        {{ extra_link.title }}
    </span>
    {% if extra_link.external %}
    <i class="fas fa-external-link-alt"></i>
    {% endif %}
</a>
{% endif %}
