<div class="card m-1" style="width: min-content;">
    <a class="card-img-top" href="https://photos.cri.epita.fr/{{ user.username }}" target="_blank">
        <img src="https://photos.cri.epita.fr/square/{{ user.username }}" alt="{{ user.username }}" style="height: 275px;" />
    </a>
    <a class="btn btn-link btn-light btn-sm card-body p-3 text-monospace" href="{{ user.get_absolute_url }}">
        {{ user.username }}
    </a>
</div>
