<nav class="nav nav-pills flex-column flex-sm-row justify-content-center" role="tablist" id="t{{ prefix }}-tab-kinds">
    <a class="btn btn-outline-info text-sm-center nav-link m-1 px-3 active" href="#t{{ prefix|slugify}}-userlist-table" data-toggle="tab" role="tab" aria-controls="t{{ prefix|slugify }}-userlist-table" aria-selected="true">
        <i class="fas fa-list-ul"></i>
        List ({{ user_list|length }})
    </a>
    <a class="btn btn-outline-info text-sm-center nav-link m-1 px-3" href="#t{{ prefix|slugify }}-userlist-pictures" data-toggle="tab" role="tab" aria-controls="t{{ prefix|slugify }}-userlist-pictures" aria-selected="false">
        <i class="fas fa-portrait"></i>
        Pictures only
    </a>
</nav>
<div class="tab-content mt-3">
    <div class="tab-pane show active" id="t{{ prefix|slugify }}-userlist-table" role="tabpanel">
        <table class="table table-hover table-sm mb-0">
            <thead>
                <tr>
                    {% if form_id %}
                    <th>
                        <input data-toggle="checkall" form="{{ form_id }}" type="checkbox" name="check-all" checked="checked" autocomplete="off" />
                    </th>
                    {% endif %}
                    <th>Login</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>UID</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                {% if user.user %}
                {% include "cri_frontend/_user_list_table_item.html" with user=user.user %}
                {% else %}
                {% include "cri_frontend/_user_list_table_item.html" with user=user %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="t{{ prefix|slugify }}-userlist-pictures" role="tabpanel">
        <div class="d-flex flex-row flex-wrap">
            {% for user in user_list %}
            {% if user.user %}
            {% include "cri_frontend/_user_list_picture_item.html" with user=user.user %}
            {% else %}
            {% include "cri_frontend/_user_list_picture_item.html" with user=user %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
