<tr>
    {% if form_id %}
    <td class="align-middle">
        <input form="{{ form_id }}" type="checkbox" name="user_list" value="{{ user.pk }}" checked="checked" autocomplete="off" />
    </td>
    {% endif %}
    <td class="text-monospace align-middle">
        <a class="no-tr-check" href="{{ user.get_absolute_url }}">
            {{ user.username }}
        </a>
    </td>
    <td class="align-middle">{{ user.first_name }}</td>
    <td class="align-middle">{{ user.last_name }}</td>
    <td class="text-monospace align-middle">{{ user.email }}</td>
    <td class="align-middle">{{ user.uid }}</td>
    <td class="align-middle">
        <a href="https://photos.cri.epita.fr/{{ user.username }}" target="_blank">
            <img src="https://photos.cri.epita.fr/square/{{ user.username }}" class="no-tr-check img-thumbnail" alt="{{ user.username }}" style="max-height: 75px;" />
        </a>
    </td>
</tr>
