{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12 mb-3">
        <div class="list-group shadow flex-column mb-2" aria-orientation="vertical">
            <form id="userlist-action-form" class="form form-inline" method="POST" action="{% url 'userlist_action' %}">
                {% csrf_token %}
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-success" name="keep-selected" form="userlist-action-form" type="submit">
                    <span>
                        <i class="fas fa-tasks"></i>
                        Keep only selected users
                    </span>
                </button>
                {% if perms.cri_models.add_crigroup %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-success" href="#" role="tab">
                    <span>
                        <i class="fas fa-users"></i>
                        Add subgroup
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </a>
                {% endif %}
                {% if perms.cri_models.issue_card %}
                <button name="cards_issue" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-info" type="submit">
                    <span>
                        <i class="fas fa-id-card"></i>
                        Issue access cards for selected users
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </button>
                {% endif %}
                {% if perms.cri_models.export_data %}
                <span class="w-100 list-group-item d-flex justify-content-between align-items-center text-info">
                    <button type="submit" class="btn btn-sm btn-outline-info" name="export" value="export">
                        <i class="fas fa-file-export"></i>
                        Export
                    </button>
                    <span class="form-group">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="export_type_regular" name="export_type" value="regular" checked>
                            <label class="form-check-label" for="export_type_regular">Regular</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="export_type_moodle" name="export_type" value="moodle">
                            <label class="form-check-label" for="export_type_moodle">Moodle</label>
                        </span>
                        <select class="form-control form-control-sm" name="export_format">
                            <option value="xlsx">xlsx</option>
                            <option value="csv">csv</option>
                            <option value="tsv">tsv</option>
                            <option value="json">json</option>
                        </select>
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </span>
                {% endif %}
                {% if user.is_staff and perms.cri_models.view_crigroup %}
                <a class="list-group-item list-group-item-action text-warning d-flex justify-content-between align-items-center" href="{% url 'admin:cri_models_crigroup_change' crigroup.pk %}" role="tab">
                    <span>
                        <i class="fas fa-wrench"></i>
                        View on admin site
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This action is only shown to admins">
                        <i class="fas fa-eye-slash"></i>
                        <i class="fas fa-wrench"></i>
                    </span>
                </a>
                {% endif %}
            </form>
        </div>
        <div class="card shadow mb-2">
            <div class="card-body">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr class="table-secondary text-center">
                            <th colspan="2">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td class="w-60">{{ crigroup.name }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td class="w-60 text-monospace">{{ crigroup.slug }}</td>
                        </tr>
                        {% if crigroup.gid %}
                        <tr>
                            <th>Group ID (GID)</th>
                            <td>{{ crigroup.gid }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Kind</th>
                            <td class="w-60">
                                <span class="badge badge-secondary">
                                    {{ crigroup.get_kind_display }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Visibility</th>
                            {% if crigroup.private %}
                            <td class="text-danger">
                                <i class="fas fa-eye-slash"></i>
                                Private
                            </td>
                            {% else %}
                            <td class="text-success">
                                <i class="fas fa-eye"></i>
                                Public
                            </td>
                            {% endif %}
                        </tr>
                        {% with aliases=crigroup.mail_aliases.all %}
                        {% if aliases %}
                        <tr>
                            <th>Email aliases</th>
                            <td class="w-60">
                                {% for alias in aliases %}
                                <a href="mailto:{{ alias.email }}">
                                    <small><i class="fas fa-envelope"></i></small>
                                    {{ alias }}
                                    <br />
                                </a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card shadow mb-2">
            <div class="card-header text-center">
                <strong>
                    <i class="fas fa-user"></i>
                    Managers
                </strong>
            </div>
            {% with managers=crigroup.get_managers %}
            <div class="list-group-flush list-group">
                {% for manager in managers %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ manager.get_absolute_url }}">
                    <span>
                        <i class="fas fa-user"></i>
                        {{ manager.username }}
                    </span>
                    {% if manager not in crigroup.managers.all %}
                    <span>
                        <span class="badge badge-info">
                            inherited
                        </span>
                    </span>
                    {% endif %}
                </a>
                {% empty %}
                <div class="list-group-item text-center">
                    <em class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        This group has no managers.
                    </em>
                </div>
                {% endfor %}
            </div>
            {% endwith %}
        </div>
        <div class="card shadow mb-2">
            <div class="card-header text-center">
                <strong>
                    <i class="fas fa-users"></i>
                    Parent groups
                </strong>
            </div>
            <div class="list-group-flush list-group">
                {% for parent in parents %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ parent.get_absolute_url }}">
                    <span>
                        <i class="fas fa-users"></i>
                        {{ parent.name }}
                    </span>
                    {% if parent.private %}
                    <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                    {% endif %}
                </a>
                {% empty %}
                <div class="list-group-item text-center">
                    <em class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        This group has no parents.
                    </em>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header text-center">
                <strong>
                    <i class="fas fa-users"></i>
                    Subgroups
                </strong>
            </div>
            <div class="list-group-flush list-group">
                {% for subgroup in subgroups %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ subgroup.get_absolute_url }}">
                    <span>
                        <i class="fas fa-users"></i>
                        {{ subgroup.name }}
                    </span>
                    {% if subgroup.private %}
                    <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                    {% endif %}
                </a>
                {% empty %}
                <div class="list-group-item text-center">
                    <em class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        This group has no subgroups.
                    </em>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    <i class="fas fa-users"></i>
                    {{ crigroup.name }}
                </h3>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills nav-fill" id="gy-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a id="current-members-tab" class="nav-link active" data-toggle="pill" href="#current-members" role="tab" aria-controls="current-members" aria-selected="true">
                            <em>Current members</em>
                        </a>
                    </li>
                    {% regroup memberships by graduation_year as graduation_year_list %}
                    {% for graduation_year in graduation_year_list %}
                    <li class="nav-item" role="presentation">
                        <a id="gy-{{ graduation_year.grouper|slugify }}-tab" class="nav-link" data-toggle="pill" href="#gy-{{ graduation_year.grouper|slugify }}" role="tab" aria-controls="gy-{{ graduation_year.grouper|slugify }}" aria-selected="false">
                            {% if graduation_year.grouper %}
                            {{ graduation_year.grouper }}
                            {% else %}
                            <em>Others</em>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <hr />
                <div class="tab-content">
                    <div class="tab-pane show active" id="current-members" role="tabpanel" aria-labelledby="current-members-tab">
                        {% include "cri_frontend/_user_list.html" with user=user user_list=crigroup.get_members form_id="userlist-action-form" only %}
                    </div>
                    {% for graduation_year in graduation_year_list %}
                    <div class="tab-pane show" id="gy-{{ graduation_year.grouper|slugify }}" role="tabpanel" aria-labelledby="gy-{{ gradation_year.grouper|slugify }}-tab">
                        {% include "cri_frontend/_user_list.html" with user=user user_list=graduation_year.list prefix=graduation_year.grouper only %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
