{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="tasks" %}
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    {% if criuser.criserviceaccount %}
                    <i class="fas fa-robot"></i>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                {% if is_paginated %}
                {% include "cri_frontend/_pagination.html" with paginator=paginator page_obj=page_obj only %}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary text-center">
                            <th>ID</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th class="text-nowrap">Time taken</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in page_obj %}
                        {% with entry=entry.get_task_instance %}
                        <tr>
                            <td class="align-middle">
                                {{ entry.pk }}
                            </td>
                            <td class="align-middle">
                                {{ entry.task_class }}
                            </td>
                            <td class="align-middle">
                                {{ entry }}
                            </td>
                            <td class="align-middle text-nowrap">
                                {% if entry.status == "succeeded" %}
                                <button class="btn btn-block btn-sm btn-outline-success">
                                    <i class="fas fa-check-circle"></i>
                                {% elif entry.status == "failed" %}
                                <button class="btn btn-block btn-sm btn-outline-danger">
                                    <i class="fas fa-exclamation-triangle"></i>
                                {% elif entry.status == "running" %}
                                <button class="btn btn-block btn-sm btn-outline-info">
                                    <div class="spinner-border spinner-border-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                {% elif entry.status == "pending" %}
                                <button class="btn btn-block btn-sm btn-outline-warning">
                                {% elif entry.status == "new" %}
                                <button class="btn btn-block btn-sm btn-outline-info">
                                {% endif %}
                                    {{ entry.get_status_display }}
                                </button>
                            </td>
                            <td class="align-middle">
                                {{ entry.task.time_taken }}
                            </td>
                            <td class="align-middle text-right">
                                {% if entry.task %}
                                {{ entry.get_result_display }}
                                {% else %}
                                <em class="text-muted">Not applicable</em>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                <em>
                                    <i class="fas fa-info-circle"></i>
                                    You don't have any tasks.
                                </em>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                {% include "cri_frontend/_pagination.html" with paginator=paginator page_obj=page_obj only %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
