{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="logs" %}
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    {% if criuser.criserviceaccount %}
                    <i class="fas fa-robot"></i>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary">
                            <th>Date</th>
                            <th class="text-nowrap">IP address</th>
                            <th>Event</th>
                            <th>Status</th>
                            <th class="text-right text-nowrap">OIDC client</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in logs %}
                        <tr>
                            <td>
                                {{ entry.created_at }}
                            </td>
                            <td>
                                {% if entry.ip %}
                                {{ entry.ip }}
                                {% else %}
                                <em class="text-muted"><small>No data</small></em>
                                {% endif %}
                            </td>
                            <td>
                                {{ entry.get_kind_display }}
                            </td>
                            <td>
                                {{ entry.get_status_display }}
                            </td>
                            <td class="text-right">
                                {% if entry.client %}
                                {{ entry.client.name }}
                                {% else %}
                                <em class="text-muted"><small>Not applicable</small></em>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                <em>
                                    <i class="fas fa-info-circle"></i>
                                    This user never signed-in.
                                </em>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% for userconsent, scopes, claims in user_consent_list %}
<div class="modal" id="claims-{{ userconsent.pk }}">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fab fa-openid"></i>
                    {{ userconsent.client.name }}
                </h5>
            </div>
            <div class="modal-body">
                {% if userconsent.client.oidcclientextension.is_legacy %}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-circle"></i>
                    This OIDC client is using the legacy interface.
                </div>
                {% endif %}
                {% with claims=claims|pprint %}
                <textarea readonly class="text-monospace w-100" rows="{{ claims.splitlines|length|add:1 }}">{{ claims }}</textarea>
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
