{% extends 'base.html' %}
{% load humanize crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="user-notes" %}
        </div>
        <hr />
        {% if extra_links %}
        <div class="card shadow mb-2">
            <div class="list-group-flush list-group">
                {% for extra_link in extra_links %}
                    {% include "cri_frontend/_extra_link.html" with extra_link=extra_link %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="card shadow">
            <div class="card-header text-center">
                <i class="fas fa-users"></i>
                Groups
            </div>
            <div class="list-group-flush list-group">
                {% for tabname, memberships_list in memberships_tabs %}
                {% regroup memberships_list.values|dictsort:"graduation_year" by graduation_year as memberships_by_year %}
                {% regroup memberships_list by group as memberships_by_groups %}
                <span class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center pl-2 py-2">
                    <h5 class="my-0">
                        {{ tabname }}
                    </h5>
                    <span>
                        {% for memberships in memberships_by_year %}
                        <span class="badge badge-success">
                            {{ memberships.grouper }}
                        </span>
                        {% endfor %}
                    </span>
                </span>
                {% for memberships in memberships_by_groups %}
                {% with group=memberships.grouper %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ group.get_absolute_url }}">
                    <span>
                        <i class="fas fa-users"></i>
                        {{ group }}
                        <span class="badge badge-secondary">{{ group.get_kind_display }}</span>
                    </span>
                    <span>
                        {% for m in memberships.list %}
                        {% if m.graduation_year %}
                        <span class="badge badge-success">
                            {{ m.graduation_year }}
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% if group.private %}
                        <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                        {% endif %}
                    </span>
                </a>
                {% endwith $%}
                {% empty %}
                <a class="list-group-item list-group-item-action disabled text-center">
                    <em class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        This section is empty
                    </em>
                </a>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    <i class="fas fa-user"></i>
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                {% regroup note_list by scope as scope_list %}
                <ul class="nav nav-pills nav-fill" id="scopeTab" role="tablist">
                    {% if form %}
                    <li class="nav-item" role="presentation">
                        <a id="add-note-tab" class="nav-link {% if not scope_list %}active{%endif%}" data-toggle="pill" href="#add-note" role="tab" aria-controls="add-note" aria-selected="{% if not scope_list %}true{% else %}false{% endif %}">
                            <i class="fas fa-plus"></i>
                            Add note
                        </a>
                    </li>
                    {% endif %}
                    {% for scope in scope_list %}
                    <li class="nav-item" role="presentation">
                        <a id="scope-{{ scope.grouper }}-tab" class="nav-link {% if forloop.first %}active{%endif%}" data-toggle="pill" href="#scope-{{ scope.grouper.id }}" role="tab" aria-controls="scope-{{ scope.grouper.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                            {{ scope.grouper }}
                            <span class="badge text-light bg-secondary">
                                {{ scope.list|length }}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <hr />
                <div class="tab-content">
                    {% if form %}
                    <div class="tab-pane {% if not scope_list %}show active{% endif %}" id="add-note" role="tabpanel" aria-labelledby="add-note-tab">
                        <form class="form" method="POST" action="{% url 'criusernote_create' username=criuser %}">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                    {% endif %}
                    {% for scope in scope_list %}
                    <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="scope-{{ scope.grouper.id }}" role="tabpanel" aria-labelledby="scope-{{ scope.grouper.id }}-tab">
                        <div class="px-3">
                            {% for note in scope.list %}
                            {% include "cri_frontend/_criuser_note.html" with note=note %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
