{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="ssh-keys" %}
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    {% if criuser.criserviceaccount %}
                    <i class="fas fa-robot"></i>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary text-center">
                            <th style="white-space: nowrap;">Title</th>
                            <th class="w-100">Key</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in criuser.sshpublickey_set.all %}
                        <tr>
                            <td style="white-space: nowrap;">
                                {{ key.title }}
                            </td>
                            <td><textarea class="form-control" style="word-break: break-all;" readonly>{{ key.key }}</textarea></td>
                            <td class="text-center">
                                {{ key.key_length }}
                                {% if request.user == criuser or perms.cri_models.delete_sshpublickey or request.user in criuser.criserviceaccount.get_managers %}
                                <form class="form" method="POST" action="{% url 'criuser_ssh_keys_delete' key.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center text-danger">
                                <em>
                                    <i class="fas fa-info-circle"></i>
                                    No SSH keys were uploaded
                                </em>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if form %}
                <hr />
                <form class="form" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group" role="group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-key"></i>
                            Add SSH key
                        </button>
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#help-modal">
                            <i class="fas fa-question-circle"></i>
                            Help
                        </button>
                    </div>
                </form>
                <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="help-modal-label">
                                    <i class="fas fa-key"></i>
                                    Generating a new SSH key
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Open a terminal and type the commands below.</p>
                                <p class="text-danger">Beware that the passphrase <strong>is not shown</strong> when you type it into the terminal.</p>
                                <div class="card bg-dark">
                                    <div class="card-body">
<pre style="margin: 0px;" class="text-light"><code><strong>$</strong> ssh-keygen -a 100 -t ed25519 <em class="text-muted"># Generate a new key</em>
<span class="text-white-50">Generating public/private ed25519 key pair.
Enter file in which to save the key (/home/{{ request.user.username }}/.ssh/id_ed25519):
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in /home/{{ request.user.username }}/.ssh/id_ed25519.
Your public key has been saved in /home/{{ request.user.username }}/.ssh/id_25519.pub.
The key fingerprint is:
SHA256:qEoGc4EbMN2v8LzNxL4ec1T/qOdhglt80Vd2KKIQP5g {{ request.user.username }}
The key's randomart image is:
+--[ED25519 256]--+
|o. .  .          |
|.o. .  =       . |
|o .  .E o o . . +|
| o..  .o + o o .o|
|+ .+ o. S   o . .|
| +  +.o. o   + . |
|  o .*o o + = .  |
| o .. ++ o =..   |
|  .  .o.. .o.    |
+----[SHA256]-----+</span>
<strong>$</strong> xsel -b < ~/.ssh/id_ed25519.pub <em class="text-muted"># Import the new public key into your clipboard</em></code></pre>
                                    </div>
                                </div>
                                <p>You may then use <kbd><kbd>Ctrl</kbd> + <kbd>V</kbd></kbd> to paste your new key into the form.</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                                    <i class="fas fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
