{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="account-info" %}
        </div>
        <hr />
        <div class="card shadow">
            <div class="card-header text-center">
                <i class="fas fa-users"></i>
                Groups
            </div>
            <div class="list-group-flush list-group">
                {% for tabname, memberships_list in memberships_tabs %}
                {% regroup memberships_list.values|dictsort:"graduation_year" by graduation_year as memberships_by_year %}
                {% regroup memberships_list by group as memberships_by_groups %}
                <span class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center pl-2 py-2">
                    <h5 class="my-0">
                        {{ tabname }}
                    </h5>
                    <span>
                        {% for memberships in memberships_by_year %}
                        <span class="badge badge-success">
                            {{ memberships.grouper }}
                        </span>
                        {% endfor %}
                    </span>
                </span>
                {% for memberships in memberships_by_groups %}
                {% with group=memberships.grouper %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ group.get_absolute_url }}">
                    <span>
                        <i class="fas fa-users"></i>
                        {{ group }}
                        <span class="badge badge-secondary">{{ group.get_kind_display }}</span>
                    </span>
                    <span>
                        {% for m in memberships.list %}
                        {% if m.graduation_year %}
                        <span class="badge badge-success">
                            {{ m.graduation_year }}
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% if group.private %}
                        <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                        {% endif %}
                    </span>
                </a>
                {% endwith $%}
                {% empty %}
                <a class="list-group-item list-group-item-action disabled text-center">
                    <em class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        This section is empty
                    </em>
                </a>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="card shadow my-2">
            <div class="card-header text-center">
                <div class="jumbotron-heading">
                    <i class="fas fa-key"></i>
                    Kerberos principals
                </div>
            </div>
            <div class="list-group-flush list-group">
                {% for principal in criuser.kerberosprincipal_set.all %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if principal.out_of_date %} list-group-item-danger{% endif %}">
                    <span class="text-monospace">
                        <i class="fas fa-key"></i>
                        {{ principal }}
                    </span>
                    <span>
                        {% if principal == criuser.primary_principal %}
                        <span class="badge badge-primary">
                            primary principal
                        </span>
                        {% endif %}
                        {% if principal.out_of_date %}
                        <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This principal's password is out of sync">
                            <i class="fas fa-sync"></i>
                        </span>
                        {% endif %}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    {% if criuser.criserviceaccount %}
                    <i class="fas fa-robot"></i>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a href="https://photos.cri.epita.fr/{{ criuser.username }}" target="_blank">
                            <img src="https://photos.cri.epita.fr/thumb/{{ criuser.username }}" class="img-thumbnail" alt="{{ criuser.username }}" style="max-height: 500px;" />
                        </a>
                    </div>
                    <div class="media-body">
                        {% with new_account=criuser.get_new_account %}
                        {% if new_account %}
                        <div class="alert alert-warning" role="alert">
                            <i class="fas fa-people-arrows"></i>
                            This user is now known as <strong><a class="alert-link" href="{{ new_account.get_absolute_url }}"><i class="fas fa-user"></i> {{ new_account.username }}</a></strong>.
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% if not criuser.is_active and user.is_staff %}
                        <div class="alert alert-danger" role="alert">
                            <i class="fas fa-user-alt-slash"></i>
                            This account has been disabled!
                        </div>
                        {% elif criuser.is_staff and user.is_staff %}
                        <div class="alert alert-info" role="alert">
                            <i class="fas fa-wrench"></i>
                            This user can access the admin site.
                        </div>
                        {% endif %}
                        {% if criuser.criserviceaccount %}
                        <div class="alert alert-info" role="alert">
                            <i class="fas fa-robot"></i>
                            This user is a service account owned by <strong><a class="alert-link" title="{{ criuser.criserviceaccount.owner }}" href="{{ criuser.criserviceaccount.owner.get_absolute_url }}"><i class="fas fa-user"></i> {{ criuser.criserviceaccount.owner.username }}</a></strong>.
                        </div>
                        {% endif %}
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr class="table-secondary text-center">
                                    <th colspan="2">Account</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Login</th>
                                    <td class="w-60 text-monospace">{{ criuser.username }}</td>
                                </tr>
                                <tr>
                                    <th>Email address</th>
                                    <td>
                                        {% if criuser.email %}
                                        <a href="mailto:{{ criuser.email }}">
                                            <small><i class="fas fa-envelope"></i></small> {{ criuser.email }}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% with aliases=criuser.mail_aliases.all %}
                                {% if aliases %}
                                <tr>
                                    <th>Email aliases</th>
                                    <td>
                                        {% for alias in aliases %}
                                        <a href="mailto:{{ alias.email }}">
                                            <small><i class="fas fa-envelope"></i></small>
                                            {{ alias }}
                                            <br />
                                        </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endwith %}
                                <tr>
                                    <th>User ID (UID)</th>
                                    <td>{{ criuser.uid }}</td>
                                </tr>
                                <tr>
                                    <th>Group ID (GID)</th>
                                    <td>{{ criuser.primary_group.gid }} (<a href="{{ criuser.primary_group.get_absolute_url }}"><i class="fas fa-users"></i> {{ criuser.primary_group }}<a>)</td>
                                </tr>
                                <tr>
                                    <th>Kerberos principal</th>
                                    <td class="text-monospace">{% if criuser.primary_principal %}{{ criuser.primary_principal }}{% endif %}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="table-secondary text-center">
                                    <th colspan="2">Identity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>First name</th>
                                    <td>{{ criuser.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last name</th>
                                    <td>{{ criuser.last_name }}</td>
                                </tr>
                            </tbody>
                            {% if user == criuser or perms.cri_models.view_criuser_legal_identity or perms.cri_models.view_criuser_phone or perms.cri_models.view_criuser_birthdate %}
                            <thead>
                                <tr class="table-secondary text-center">
                                    <th colspan="2">Personal data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if user == criuser or perms.cri_models.view_criuser_legal_identity %}
                                <tr>
                                    <th>
                                        <i class="fas fa-eye-slash" data-toggle="tooltip" data-placement="right" title="This field is not visible for everyone"></i>
                                        Legal first name
                                    </th>
                                    <td>{{ criuser.legal_first_name }}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="fas fa-eye-slash" data-toggle="tooltip" data-placement="right" title="This field is not visible for everyone"></i>
                                        Legal last name
                                    </th>
                                    <td>{{ criuser.legal_last_name }}</td>
                                </tr>
                                {% endif %}
                                {% if user == criuser or perms.cri_models.view_criuser_legal_identity or perms.cri_models.view_phone %}
                                {% if criuser.phone %}
                                <tr>
                                    <th>
                                        <i class="fas fa-eye-slash" data-toggle="tooltip" data-placement="right" title="This field is not visible for everyone"></i>
                                        Phone number
                                    </th>
                                    <td>{% if criuser.phone %}{{ criuser.phone }}{% endif %}</td>
                                </tr>
                                {% endif %}
                                {% endif %}
                                {% if user == criuser or perms.cri_models.view_criuser_birthdate %}
                                {% if criuser.birthdate %}
                                <tr>
                                    <th>
                                        <i class="fas fa-eye-slash" data-toggle="tooltip" data-placement="right" title="This field is not visible for everyone"></i>
                                        Birthdate
                                    </th>
                                    <td>{{ criuser.birthdate }}</td>
                                </tr>
                                {% endif %}
                                {% endif %}
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
