{% extends 'base.html' %}
{% load humanize crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="user-notes" %}
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    <i class="fas fa-user"></i>
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                <div class="tab-pane {% if not scope_list %}show active{% endif %}" id="add-note" role="tabpanel" aria-labelledby="add-note-tab">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
