{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12" style="padding-bottom: 10px;">
        <div class="card shadow">
            {% include "cri_frontend/_criuser_nav.html" with current_page="oidc" %}
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    {% if criuser.criserviceaccount %}
                    <i class="fas fa-robot"></i>
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                    {{ criuser.get_full_name }}
                </h3>
            </div>
            <div class="card-body">
                <h4>Consent</h4>
                <p><em>The table below shows every OpenID Connect client allowed by the user to access claims of the listed scopes</em></p>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary text-center">
                            <th class="text-nowrap">Client name</th>
                            <th>Date</th>
                            <th>Scopes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for userconsent, scopes, claims in user_consent_list %}
                        <tr>
                            <td class="align-middle text-nowrap">
                                <a class="disabled btn btn-block btn-outline-primary" href="#">
                                    <i class="fab fa-openid"></i>
                                    {{ userconsent.client.name }}
                                </a>
                            </td>
                            <td class="align-middle text-nowrap">
                                {{ userconsent.date_given }}
                                <br />
                                <small class="text-secondary">
                                    <strong>expire</strong>: {{ userconsent.expires_at }}
                                <small>
                            </td>
                            <td class="align-middle text-monospace">
                                <div class="d-flex justify-content-center align-items-center flex-wrap">
                                {% for scope in scopes %}
                                {% if scope in claims.denied_scopes %}
                                <span class="mr-1 mb-1 badge badge-danger" data-toggle="tooltip" data-placement="top" title="denied scope">
                                    {{ scope }}
                                </span>
                                {% elif scope in claims.unknown_scopes %}
                                <span class="mr-1 mb-1 badge badge-warning" data-toggle="tooltip" data-placement="top" title="unknown scope">
                                    {{ scope }}
                                </span>
                                {% else %}
                                <span class="mr-1 mb-1 badge badge-secondary" data-toggle="tooltip" data-placement="top">
                                    {{ scope }}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-middle d-flex justify-content-end">
                                {% if userconsent.client.oidcclientextension.is_legacy %}
                                <button class="mr-1 disabled btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="this client is using the legacy interface">Legacy</button>
                                {% endif %}
                                <span data-toggle="tooltip" data-placement="top" title="see claims values">
                                    <button class="btn btn-sm btn-info mr-1" type="button" data-toggle="modal" data-target="#claims-{{ userconsent.pk }}">
                                        <i class="fab fa-openid"></i>
                                    </button>
                                </span>
                                <form class="form" method="POST" action="{% url 'criuser_oidc_delete_consent' userconsent.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="revoke consent">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">
                                <em>
                                    <i class="fas fa-info-circle"></i>
                                    No OIDC client has been authorized.
                                </em>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4 class="mt-5 d-flex justify-content-between">
                    <span>
                        OIDC Clients
                    </span>
                    <span data-toggle="tooltip" data-placement="left" title="Not yet available">
                        <a class="disabled btn btn-success btn-sm" href="#">
                            <i class="fas fa-plus"></i>
                            New client
                        </a>
                    </span>
                </h4>
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary text-center">
                            <th class="text-nowrap">Client name</th>
                            <th class="text-nowrap">Client type</th>
                            <th class="text-nowrap">Response types</th>
                            <th>Status</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td class="align-middle text-nowrap">
                                <a class="disabled btn btn-block btn-outline-primary" href="#">
                                    <i class="fab fa-openid"></i>
                                    {{ client.name }}
                                </a>
                            </td>
                            <td class="align-middle text-center text-nowrap">
                                {{ client.get_client_type_display }}
                            </td>
                            <td class="align-middle">
                                <div class="d-flex justify-content-center align-items-center flex-wrap">
                                    {% for response_type in client.response_types.all %}
                                    <span class="mb-1 mr-1 badge badge-dark">
                                        {{ response_type }}
                                    </span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex justify-content-center flex-nowrap">
                                    {% if client.oidcclientextension.is_legacy %}
                                    <button class=" mr-1 disabled btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="this client is using the legacy interface">Legacy</button>
                                    {% endif %}
                                    {% if client.oidcclientextension.auth_groups_filter.is_restricted %}
                                    <button class="mr-1 disabled btn btn-sm btn-outline-warning" data-toggle="tooltip" data-placement="top" title="this client only allow some users to sign-in">Restricted</button>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="align-middle text-nowrap">
                                {% if client.owner %}
                                <a class="btn btn-block btn-outline-secondary" href="{{ client.owner.get_absolute_url }}">
                                    <i class="fas fa-user"></i>
                                    {{ client.owner.username }}
                                </a>
                                {% else %}
                                <button class="disabled btn btn-block btn-outline-secondary">
                                    <i class="fas fa-user"></i>
                                    <em>No owner</em>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-danger">
                                <em>
                                    <i class="fas fa-info-circle"></i>
                                    You do not have access to any OIDC client.
                                </em>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% for userconsent, scopes, claims in user_consent_list %}
<div class="modal" id="claims-{{ userconsent.pk }}">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fab fa-openid"></i>
                    {{ userconsent.client.name }}
                </h5>
            </div>
            <div class="modal-body">
                {% if userconsent.client.oidcclientextension.is_legacy %}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-circle"></i>
                    This OIDC client is using the legacy interface.
                </div>
                {% endif %}
                {% with claims=claims|pprint %}
                <textarea readonly class="text-monospace w-100" rows="{{ claims.splitlines|length|add:1 }}">{{ claims }}</textarea>
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
