{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-8">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-center flex-wrap w-100">
                {% for shortcut in shortcut_list %}
                <div class="card shadow-sm m-2" style="width: 20rem;">
                    {% if shortcut.image %}
                    <!-- <img class="card-img-top" src="{{ shortcut.image.url }}" /> -->
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 my-0">
                            {% if shortcut.description %}
                            <p class="card-text mb-3">{{ shortcut.description }}</p>
                            {% endif %}
                        </div>
                        <a target="_blank" class="card-link stretched-link btn btn-block btn-outline-secondary text-truncate" href="{{ shortcut.url }}" title="{{ shortcut.url }}">
                            {{ shortcut.title }}
                            <sup><small><i class="fas fa-external-link-alt"></i></small></sup>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if news %}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-8">
        <div class="card shadow">
            <div class="card-header">
                News
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
