{% extends "_centered_form.html" %}

{% block form_icon %}<i class="fas fa-ban"></i>{% endblock %}
{% block form_title %}Not available{% endblock %}

{% block form_content %}
{{ block.super }}
<div class="row">
    <div class="col">
        <div class="alert alert-warning text-center" role="alert">
            <strong>
                <i class="fas fa-ban"></i>
                This page is not yet available, please come back later.
            </strong>
        </div>
    </div>
</div>
{% endblock %}
