{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% regroup groups by kind as group_by_kind %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12 order-last order-xl-first" style="padding-bottom: 10px;">
        <div class="list-group shadow flex-column mb-2" aria-orientation="vertical">
            <form id="userlist-action-form" class="form form-inline" method="POST" action="{% url 'userlist_action' %}">
                {% csrf_token %}
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-success" name="keep-selected" form="userlist-action-form" type="submit">
                    <span>
                        <i class="fas fa-tasks"></i>
                        Keep only selected users
                    </span>
                </button>
                {% if perms.cri_models.add_crigroup %}
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-success" type="submit">
                    <span>
                        <i class="fas fa-users"></i>
                        Add selected users to a group
                    </span>
                </button>
                {% endif %}
                {% if perms.cri_cards.issue_card %}
                <button name="cards_issue" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-info" type="submit">
                    <span>
                        <i class="fas fa-id-card"></i>
                        Issue access cards for selected users
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </button>
                {% endif %}
                {% if perms.cri_models.export_data %}
                <span class="w-100 list-group-item d-flex justify-content-between align-items-center text-info">
                    <button type="submit" class="btn btn-sm btn-outline-info" name="export" value="export">
                        <i class="fas fa-file-export"></i>
                        Export
                    </button>
                    <span class="form-group">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="export_type_regular" name="export_type" value="regular" checked>
                            <label class="form-check-label" for="export_type_regular">Regular</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="export_type_moodle" name="export_type" value="moodle">
                            <label class="form-check-label" for="export_type_moodle">Moodle</label>
                        </span>
                        <select class="form-control form-control-sm" name="export_format">
                            <option value="xlsx">xlsx</option>
                            <option value="csv">csv</option>
                            <option value="tsv">tsv</option>
                            <option value="json">json</option>
                        </select>
                    </span>
                    <span data-toggle="tooltip" data-placement="right" title="This link is not visible for everyone">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </span>
                {% endif %}
            </form>
        </div>
        <div class="card shadow">
            <button class="d-flex align-items-center justify-content-center card-header btn btn-lg btn-outline-secondary" style="border-width: 0px; border-color: inherit;" type="button" data-toggle="collapse" data-target="#collapseGroups" aria-expanded="true" aria-controls="#collapseGroups">
                <span class="flex-grow-1">
                        <i class="fas fa-users"></i>
                        Groups
                </span>
                <i class="fas fa-window-minimize"></i>
            </button>
            <div class="collpase show" id="collapseGroups">
                <div class="card-body m-0 p-0 list-group">
                    <div class="list-group-item" style="border-radius: 0rem;">
                        <nav class="nav nav-pills flex-column flex-sm-row" role="tablist" id="tab-kinds">
                            <a class="btn btn-sm btn-outline-dark flex-sm-fill text-sm-center nav-link m-1 p-1 active" href="#kind-all" data-toggle="tab" role="tab" aria-controls="kind-all" aria-selected="true">
                                all
                            </a>
                            {% for kind, group_list in group_by_kind %}
                            <a class="btn btn-sm btn-outline-secondary flex-sm-fill text-sm-center nav-link m-1 p-1" href="#kind-{{ kind }}" data-toggle="tab" role="tab" aria-controls="kind-{{ kind }}" aria-selected="false">{{ kind }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
                <div class="tab-content">
                    {% for kind, group_list in group_by_kind %}
                    {% if forloop.first %}
                    <div class="list-group tab-pane show active" id="kind-all" role="tabpanel">
                        {% for group in groups %}
                        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="{{ group.get_absolute_url }}" style="border-top-left-radius: 0rem; border-top-right-radius: 0rem;">
                            <span class="flex-grow-1">
                                <i class="fas fa-users"></i>
                                {{ group }}
                            </span>
                            <small class="mx-2 text-muted text-right">
                                <span class="text-monospace">{{ group.slug }}</span>
                                <br />
                                <span class="badge badge-secondary">{{ group.get_kind_display }}</span>
                            </small>
                            {% if group.private %}
                            <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                                <i class="fas fa-eye-slash"></i>
                            </span>
                            {% endif %}
                        </a>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <div class="list-group tab-pane" id="kind-{{ kind }}" role="tabpanel">
                        {% for group in group_list %}
                        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="{{ group.get_absolute_url }}" style="border-top-left-radius: 0rem; border-top-right-radius: 0rem;">
                            <span class="flex-grow-1">
                                <i class="fas fa-users"></i>
                                {{ group }}
                            </span>
                            <small class="mx-2 text-muted text-right">
                                <span class="text-monospace">{{ group.slug }}</span>
                                <br />
                                <span class="badge badge-secondary">{{ group.get_kind_display }}</span>
                            </small>
                            {% if group.private %}
                            <span class="text-danger" data-toggle="tooltip" data-placement="right" title="This group is private">
                                <i class="fas fa-eye-slash"></i>
                            </span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                    {% empty %}
                    <a class="list-group-item list-group-item-action disabled text-center">
                        <em class="text-muted">
                            <i class="fas fa-info-circle"></i>
                            There are not any groups.
                        </em>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card shadow mb-2">
            <div class="card-header text-center">
                <h3 class="jumbotron-heading">
                    <i class="fas fa-search"></i>
                    Search
                </h3>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
        {% if users %}
        <div class="card shadow mb-2">
            <div class="card-body">
                {% include "cri_frontend/_user_list.html" with user=user user_list=users form_id="userlist-action-form" only %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
