{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col text-center">
            <img src="{% static 'img/logo.png' %}" style="width: 20%;"/>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col" style="max-width: 45rem;">
            <div class="card shadow-lg">
                <div class="card-body">
                    {% block form_content %}
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title text-center">
                                {% block form_icon %}{% endblock %}
                                {% block form_title %}{% endblock %}
                            </h3>
                            <hr />
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
