{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="CRI">
        <title>{% block title %}CRI{% endblock %}</title>

        <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

        {% block style %}
        <link rel="stylesheet" href="{% static 'css/all.css' %}" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" crossorigin="anonymous">
        {% endblock %}
    </head>
    {% endblock %}
    {% block body %}
    <body class="d-flex flex-column h-100">
        <header>
            {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <div class="d-inline-block align-top">
                        {% include 'logo.svg' %}
                    </div>
                    CRI intranet
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between align-item-center" id="navbarCollapse">
                    <ul class="navbar-nav text-nowrap">
                        <li class="nav-item">
                            <a class="nav-link" href="https://map.epita.eu" target="_blank">
                                <i class="fas fa-map"></i>
                                <span class="d-md-none d-lg-inline">
                                    Maps
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://doc.cri.epita.fr" target="_blank">
                                <i class="fas fa-question-circle"></i>
                                <span class="d-md-none d-lg-inline">
                                    Documentation
                                </span>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-address-book"></i>
                                <span class="d-md-none d-lg-inline">
                                    Phone book
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search' %}">
                                <i class="fas fa-search"></i>
                                <span class="d-md-none d-lg-inline">
                                    Advanced search
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="d-none d-md-flex flex-grow-1 mx-4">
                        {% if user.is_authenticated %}
                        <form method="POST" role="form" class="form-inline w-100" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="d-flex flex-grow-1 justify-content-center">
                                <div style="min-width: 1rem; max-width: 50rem;" class="dropdown w-100">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                        <input name="omnisearch" id="search-input" class="form-control" placeholder="Search" data-toggle="dropdown" autocomplete="off" value="{{ omnisearch_value }}">
                                    </div>
                                    <button type="button" class="d-none dropdown-toggle" data-toggle="dropdown" id="search-results-dropdown"></button>
                                    <div class="dropdown-menu w-100 py-0">
                                        <div class="list-group">
                                            {% for index, title in algolia_indices %}
                                            <div id="{{ index }}-results" class="p-2 list-group-item d-flex justify-content-between align-items-center">
                                                <h5 class="my-0">{{ title }}</h5>
                                                <span>
                                                    <span id="{{ index}}-subtitle" class="mr-4"></span>
                                                    <span id="{{ index }}-nbhits"></span>
                                                </span>
                                            </div>
                                            {% endfor %}
                                            <a target="_blank" href="https://algolia.com" class="p-0 bg-light list-group-item list-group-item-action text-right">
                                                <img class="m-2" style="height: 15px" src="{% static 'svg/search-by-algolia-light-background.svg' %}" alt="powered by Algolia">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-end text-nowrap">
                        {% if user.is_authenticated %}
                        <a href="{% url 'criuser_detail' user.username %}" class="nav-link btn btn-outline-light text-truncate mr-2" title="{{ user.username }}" style="max-width: 15rem;">
                            <i class="fas fa-user"></i>
                            {{ user.username }}
                        </a>
                        {% if user.is_staff %}
                        <a title="admin site" class="nav-link btn btn-outline-warning mr-2" href="{% url 'admin:index' %}" target="_blank">
                            <i class="fas fa-wrench"></i>
                        </a>
                        {% endif %}
                        {% if request.is_impersonated %}
                        <form class="form-inline" method="POST" action="{% url 'impersonate_stop' %}">
                            {% csrf_token %}
                            <button type="submit" title="Stop impersonating {{ user.username }}" class="nav-link btn btn-outline-danger" href="{% url 'logout' %}">
                                <i class="fas fa-user-secret"></i>
                            </button>
                        </form>
                        {% else %}
                        <a title="Sign out" class="nav-link btn btn-outline-danger" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        {% endif %}
                        {% else %}
                        <a class="nav-link btn btn-outline-light" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>
        <main class="flex-shrink-0" role="main">
            <div class="container-fluid">
                {% block messages %}
                <div class="row justify-content-center">
                    <div class="col-xl-11 col-md-12">
                        {% if request.is_impersonated %}
                        <div class="alert alert-info" role="alert">
                            <i class="fas fa-user-secret"></i>
                            You are impersonating <a class="alert-link" href="{{ user.get_absolute_url }}">{{ user }}</a>
                        </div>
                        {% endif %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show" role="alert">
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">
                    Developed by the <a href="https://cri.epita.fr">CRI</a>
                    under the
                    <a href="https://gitlab.cri.epita.fr/cri/services/intranet/-/blob/develop/LICENSE">GNU AGPLv3</a>
                    license.
                </span>
            </div>
        </footer>
        {% block js %}
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(function () {
                $('.collapse').collapse()
                $('[data-toggle="tooltip"]').tooltip()
                $('[data-toggle="tab"]').on('click', function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                })
                $('[data-toggle="checkall"]').on('change', function (e) {
                    $(this).closest("table").find('[type="checkbox"]').prop("checked", $(this).is(':checked'))
                })
                $('tr').on('click', function(e) {
                    if (e.target.type !== 'checkbox' && e.target.tagName !== "a" && !e.target.classList.contains('no-tr-check')) {
                        $('[type="checkbox"]', this).trigger('click');
                    }
                });
            })
        </script>
        {% if user.is_authenticated %}
        <script src="{% static 'js/algoliasearch-lite.umd.js' %}"></script>
        <script type="text/javascript">
            search_client = algoliasearch(
                '{{ algolia_app_id }}',
                '{{ algolia_search_key }}'
            );
            search_history = new Object();
            current_query = null;

            function search(query, callback) {
                {% for index, title in algolia_indices %}
                    $('#{{ index }}-nbhits').html(`
                        <span class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    `)
                {% endfor %}
                if (search_history[query]) {
                    callback(search_history[query]);
                    return;
                }
                const queries = [
                    {% for index, title in algolia_indices %}
                    {
                        indexName: '{{ index }}',
                        query: query,
                        params: {
                            hitsPerPage: 10
                        }
                    },
                    {% endfor %}
                ]
                if (current_query)
                    clearTimeout(current_query);
                current_query = window.setTimeout(function () {
                    search_client.multipleQueries(queries).then(function (results) {
                        search_history[query] = results;
                        callback(results);
                    });
                    current_query = null;
                },
                250);
            }

            function trigger_search() {
                query = $(this).val();
                if (query === "")
                    $("#search-results-dropdown").dropdown('hide');
                else {
                    $("#search-results-dropdown").dropdown('show');
                    search(query, function(results) {
                        $(".search-result").remove();
                        results["results"].forEach((result, index) => {
                            $(`#${result['index']}-nbhits`).html(`
                                <span class="badge badge-primary">
                                    ${result['nbHits']}
                                </span>
                            `);
                            if (result['hits'].length === 0) {
                                    $(`#${result['index']}-subtitle`).html(`
                                        <small class="search-result text-danger">No results found</small>
                                    `)
                            }
                            result['hits'].reverse().forEach((hit, index) => {
                                if (hit['type'] === 'criuser') {
                                    $(`#${result['index']}-results`).after(`
                                        <a class="p-2 d-flex align-items-start search-result list-group-item list-group-item-action" href="${hit['url']}">
                                            <img class="img-fluid" src="${hit['picture']}" style="max-width: 50px" />
                                            <div class="mx-2">
                                                <span class="text-monospace">${hit['username']}</span>
                                                <br />
                                                ${hit['name']}
                                            </div>
                                        </a>
                                    `);
                                }
                                if (hit['type'] === 'crigroup') {
                                    var append_end = "";
                                    var append_text = `
                                            <small class="mr-1">
                                                <span class="text-monospace">${hit['slug']}</span>
                                            </small>
                                            <br />
                                            <span class="badge badge-secondary">
                                                ${hit['kind']}
                                            </span>
                                        `;
                                    if (hit['private'])
                                        append_end += `
                                            <span class="text-danger" data-toggle="tooltip" data-placement="left" title="This group is private">
                                                <i class="fas fa-eye-slash"></i>
                                            </span>
                                        `;
                                    $(`#${result['index']}-results`).after(`
                                        <a class="p-2 d-flex align-items-center search-result list-group-item list-group-item-action" href="${hit['url']}">
                                            <i style="font-size: 20px;" class="fas fa-users"></i>
                                            <span class="mx-2 flex-grow-1">
                                                ${hit['name']}
                                            </span>
                                            <small class="mx-2 text-muted text-right">
                                            ${append_text}
                                            </small>
                                            ${append_end}
                                        </a>
                                    `);
                                }
                            });
                        });
                        $('[data-toggle="tooltip"]').tooltip()
                        $('[data-bs-toggle="tab"]').tab()
                    });
                }
            }

            $('#search-input').on('input', trigger_search);
            $("#search-results-dropdown").dropdown();
        </script>
        {% endif %}
        {% endblock %}
    </body>
    {% endblock %}
</html>
